/* styles.css */
/* Стиль по умолчанию */
.polygon {
    fill: rgba(151, 151, 232, 0.7); /* Цвет по умолчанию */
    stroke: rgba(171, 182, 199, 0.35);
}

/* Стиль при наведении */
.polygon:hover {
    fill: rgba(222, 222, 222, 0.11); /* Цвет при наведении */
}
